a:link {
    color: goldenrod;
    text-decoration: none;
}

.acteams {
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
}

a:visited {
    color: goldenrod;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
    background-color: indigo;
    text-decoration: none;
}

a:active {
    color: goldenrod;
    text-decoration: none;
}

body {
    background-attachment: fixed;
    background-image: url('../images/pexels-torsten-dettlaff-102448.jpg');
    background-size: cover;
    color: goldenrod;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    width: 100%;
}

.box {
    background-color: rgb(0, 0, 0, .75);
    display: inline-block;
    left: 19%;
    padding: 20px;
    position: relative;
    width: 59.5%;
}

.button {
    background-color: white;
    border: black solid 1px;
    border-radius: .5vw;
    color: blue;
    font-family: fantasy;
    font-size: 1vw;
    font-weight:300;
    height: 1.5vw;
    top: 2vw;
}

.center {
    float: left;
    text-align: center;
    top: 2vw;
    vertical-align: middle;
    width: 49%;
}

.coach {
    border: 1px solid grey;
    display: inline-block;
    padding: 5px;
}

.coach div {
    display: table-cell;
    vertical-align: middle;
    height: auto;
}

.coach h1 {
    font-size: 3vw;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
}

.coach p {
    content: '';
    clear: both;
    display: table;
}

.coachimageleft {
    float: left;
    margin: 0px;
    padding: 0;
    width: 30%;
    vertical-align: middle;
}

.coachimageright {
    float: right;
    margin: 0px;
    width: 30%;
}

.coachinfoleft {
    font-size: large;
    float: left;
    height: 100%;
    padding: .5vw;
    width: 67%;
}

.coachinforight {
    font-size: large;
    float: right;
    height: 100%;
    padding: .5vw;
    width: 67%;
}

.current {
    background-color: indigo;
}

footer {
    border-top: 10px solid black;;
    background-color: black;
    height: auto;
    line-height: 2.5vw;
    text-align: center;
    vertical-align: middle;
}

.imgwcaption {
    font-size: small;
    font-weight: bold;
}

.left {
    float: left;
    padding: .6vw;
    width: 25%;
    text-align: left;
    vertical-align: middle;
}

.link {
    font-size: 2.5vw;
    padding: 10px;
}

.linksocial {
    display: inline-block;
    font-size: 2vw;
    padding-left: .25vw;
    padding-right: .25vw;
    text-align: center;
    vertical-align: center;
}

.responsive {
    width: 100%;
    height: auto;
}

.right {
    float: right;
    font-size: 40px;
    padding: .2vw;
    text-align: right;
}

.social {
    background-color: white;/*
    background-image: url('../images/48x48.jpg');
    background-repeat: no-repeat;
    background-position-x: center;*/
    border-bottom: black solid 10px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    object-position: center;
    text-align: center;
}

.sponsors {
    display: table-cell;
    width: 20%;
}

.sponsortable {
    display: table;
    margin: 5px;
    padding: 0;
    width: 100%;
}

.team {
    border: 1px solid grey;
    padding: 10px;
}

.teamheads {
    text-align: center;
    width: 100%;
}

.teamimage {
    margin: 0 25%;
    width: 50%;
}

.title {
    background-color: indigo;
    border-bottom: goldenrod solid 10px;
    border-top: goldenrod solid 10px;
    padding: 0px;
    width: 100%;
    
    font-family: 'Grenze Gotisch';
    font-size: 7vw;
    text-align: center;
    text-shadow: .1vw .1vw white;
}

.topnav {
    background-color: rgba(0, 0, 0, 1.0);

    border: 0px;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
    padding: 0px;
    position: static;
    width: 100%;

    font-family: fantasy;
    font-size: 2.5vw;
    text-align: center;
    word-spacing: 5vw;
}

.toplogo:hover {
    background-size: 48px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.fa-purple {
    color: indigo;
    font-size: 48px;
}

.saboxplugin-socials .fa .fab {
    font-family: FontAwesome;

}